# GitHub Actions workflow
# https://help.github.com/en/actions/reference
#
# Copyright Subatomix Research Inc.
# SPDX-License-Identifier: MIT

name: Build
run-name: Build

on:
  push:
    branches:
      - main
      - next
      - release/*
    tags:
      - release/*
  pull_request:
    branches:
      - main
      - release/*
  workflow_dispatch:
    # no options

permissions:
  contents: write # required by ncipollo/release-action@v1

env:
  # Minimize noise from dotnet CLI
  DOTNET_NOLOGO: 1

jobs:
  build:
    name: Build
    runs-on: windows-latest
    #url: https://github.com/actions/virtual-environments

    steps:
      - name: Check Out Code
        uses: actions/checkout@v5
        #url: https://github.com/actions/checkout

      - name: Configure .NET
        uses: actions/setup-dotnet@v5
        #url: https://github.com/actions/setup-dotnet
        with:
          dotnet-version: |
            6.0.x
            8.0.x

      - name: Stamp Version
        id: stamp
        run: >
          dotnet build .root.targets -c Release
          -p:StampOnBuild=true
          -p:SetGitHubActionsVersion=true
          -p:Branch=${{ github.ref }}
          -p:Counter=${{ github.run_number }}
          -p:RepositoryCommit=${{ github.sha }}

      - name: Publish Version
        shell: pwsh
        run: |
          Add-Content $env:GITHUB_STEP_SUMMARY @"
          |            |                                   |
          |:-----------|:----------------------------------|
          | Version    | ``$env:VERSION``                  |
          | Branch/Tag | ``$env:GITHUB_REF`` $env:HEAD_REF |
          | Commit     | ``$env:GITHUB_SHA`` $env:HEAD_SHA |`n`n
          "@
        env:
          VERSION:  ${{ steps.stamp.outputs.version }}
          HEAD_REF: ${{ github.event.pull_request && format('(head = `{0}`)', github.event.pull_request.head.ref) }}
          HEAD_SHA: ${{ github.event.pull_request && format('(head = `{0}`)', github.event.pull_request.head.sha) }}

      - name: Restore NuGet Packages
        run: dotnet restore

      - name: Build
        run: >
          dotnet build --no-restore -c Release
          -p:TreatWarningsAsErrors=true
          -p:PackageOutputPath=${{ runner.temp }}\dist

      - name: Test
        run: >
          dotnet test --no-build -c Release
          --settings Coverlet.runsettings
          --results-directory:${{ runner.temp }}\coverage\raw

      - name: Prepare Coverage Report
        uses: danielpalme/ReportGenerator-GitHub-Action@v5
        #url: https://github.com/danielpalme/ReportGenerator-GitHub-Action
        with:
          reports: ${{ runner.temp }}\coverage\raw\**\coverage.opencover.xml
          targetdir: ${{ runner.temp }}\coverage
          reporttypes: Html;MarkdownSummaryGithub;Badges
          verbosity: Warning

      - name: Publish Coverage Summary
        shell: pwsh
        run: |
          Add-Content $env:GITHUB_STEP_SUMMARY @(
            "## Coverage`n"
            Select-String '^#' $env:REPORT_PATH -NotMatch -Raw
          )
        env:
          REPORT_PATH: ${{ runner.temp }}\coverage\SummaryGithub.md

      - name: Save Coverage Report
        uses: actions/upload-artifact@v4
        #url: https://github.com/actions/upload-artifact
        with:
          name: Coverage Report
          path: ${{ runner.temp }}\coverage
          if-no-files-found: error

      - name: Save Package
        uses: actions/upload-artifact@v4
        #url: https://github.com/actions/upload-artifact
        with:
          name: Packages
          path: ${{ runner.temp }}\dist
          if-no-files-found: error

      - name: Publish Package
        if: startsWith(github.ref, 'refs/tags/release/')
        shell: pwsh
        run: >
          dotnet nuget push "${{ runner.temp }}\dist\*.nupkg"
          -s https://api.nuget.org/v3/index.json
          -k $env:NUGET_API_KEY
          --skip-duplicate
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

      - name: Create Release
        uses: ncipollo/release-action@v1
        #url: https://github.com/ncipollo/release-action
        if: startsWith(github.ref, 'refs/tags/release/')
        with:
          name: ${{ steps.stamp.outputs.version }}
          prerelease: ${{ contains('-', steps.stamp.outputs.version) }}
          draft: true
          bodyFile: CHANGES.md
          artifacts: ${{ runner.temp }}\dist\*nupkg
          artifactErrorsFailBuild: true
          token: ${{ secrets.GITHUB_TOKEN }}
